// ---------------------------------------------------------------------------
// This file contains all styles related to the "Input" component.
// ---------------------------------------------------------------------------

label.input-text {
    display: block;
    position: relative;
    height: 64px;
    min-width: 432px;

    input {
        position: absolute;
        height: 48px;
        min-width: 400px;
        @include text($body-font-family, 16px, 400, 1.8, 0.5px);
        background-color: $color-background-variant;
        padding: 8px 16px;
        border: none;

        & ~ span {
            position: absolute;
            left: 16px;
            top: 20px;
            transition: 0.2s ease-in-out;
        }

        &:focus ~ span,
        &:not(:focus):valid ~ span {
            top: 6px;
            font-size: 10px;
        }
    }
}
