// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Login" page.
// ---------------------------------------------------------------------------

#login {
    &-content {
        @extend %absolute-center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        & > * {
            margin-bottom: 4px;
        }
    }

    h1 {
        margin-bottom: -4px;
        color: $color-primary;
        text-align: center;
    }

    #subtitle {
        margin-bottom: 28px;
    }

    #error {
        color: $color-error;
    }
}
