// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Result" page.
// ---------------------------------------------------------------------------

#result {
    &-content {
        margin: 80px 18vw 40px;

        @include breakpoint(1440px) {
            margin: 60px 12vw 30px;
        }

        @include breakpoint(1220px) {
            margin: 40px 8vw 20px;
        }

        @include breakpoint(600px) {
            margin: 40px 4vw 20px;
        }
    }

    h1 {
        margin-bottom: 40px;
    }

    &-component {
        display: flex;
    }

    &-sidebar {
        flex: 0 0 150px;
        align-self: flex-start;
        position: -webkit-sticky;
        position: sticky;
        @extend %no-whitespace;
        list-style-type: none;
        top: 80px;

        .tab-button {
            cursor: pointer;
            transition: all 0.4s ease-in-out;

            &:not(:first-child) {
                margin-top: 4px;
            }

            &.active {
                margin-left: 12px;
                color: $color-primary;
            }
        }
    }
}
