// ---------------------------------------------------------------------------
// This file contains styles that are specific to the "Result" page.
// ---------------------------------------------------------------------------

#result {
    &-content {
        margin: 80px 18vw 40px;

        @include breakpoint(1440px) {
            margin: 60px 12vw 30px;
        }

        @include breakpoint(1220px) {
            margin: 40px 6vw 20px;
        }

        @include breakpoint(600px) {
            margin: 40px 2vw 20px;
        }
    }

    h1 {
        margin-bottom: 40px;
    }

    &-component {
        display: flex;

        @include breakpoint(600px) {
            display: block;
        }
    }

    #menu-icon {
        display: none;
        position: fixed;
        left: 16px;
        bottom: 16px;
        @include size(48px);
        background-size: 36px;
        background: url("../assets/menu.svg") center no-repeat;
        background-color: $color-primary;
        border: 1px solid black;
        border-radius: 50%;
        @include transition(all 0.5s ease-in-out);
        z-index: 1;

        @include breakpoint(600px) {
            display: inline-block;
        }
    }

    input {
        display: none;

        &:checked {
            // When menu is clicked, change icon to close
            & + #menu-icon {
                background: url("../assets/close.svg") center no-repeat;
                background-color: $color-primary;
                border-radius: 50%;
                transform: rotate(90deg);
            }

            // Increase nav's max height
            & ~ #result-sidebar {
                display: inline-block;
            }
        }
    }

    &-sidebar {
        flex: 0 0 150px;
        align-self: flex-start;
        position: -webkit-sticky;
        position: sticky;
        @extend %no-whitespace;
        list-style-type: none;
        top: 80px;

        @include breakpoint(600px) {
            display: none;
            position: fixed;
            left: 16px;
            top: auto;
            bottom: 72px;
            z-index: 1;
            color: $color-on-background-dark;
            background: $color-background-dark;
            padding: 14px;
            border-radius: 10%;
        }

        .tab-button {
            cursor: pointer;
            transition: all 0.4s ease-in-out;

            &:not(:first-child) {
                margin-top: 4px;
            }

            &.active {
                margin-left: 12px;
                color: $color-primary;
            }
        }
    }
}
