// ---------------------------------------------------------------------------
// Contains everything to do with typeface (headline, body, caption, etc.)
// ---------------------------------------------------------------------------

// General text mixin
@mixin text($font-family, $font-size, $font-weight, $line-height, $letter-spacing, $color: $color-on-background) {
    margin: 0;
    font-family: $font-family;
    font-size: $font-size; // Fallback if rem is not supported
    font-size: calculateRem($font-size);
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

// Heading
h1 {
    @include text($heading-font-family, 48px, 400, 1.2, -0.5px);
}

h2 {
    @include text($heading-font-family, 36px, 400, 1.2, -1px);
}

h3 {
    @include text($heading-font-family, 22px, 400, 1.2, 0);
}

h4 {
    @include text($heading-font-family, 18px, 400, 1.2, 0);
}

// Body
#app {
    @include text($body-font-family, 16px, 400, 1.8, 0.5px);
}
