// ---------------------------------------------------------------------------
// Contains all site-wide SCSS placeholder selectors
// ---------------------------------------------------------------------------

// Removes all whitespace around
%no-whitespace {
    padding: 0;
    margin: 0;
}

// Centers element using position: absolute
%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
